extends layout

block content
	.main.container.clearfix
		.row.text-xs-center
			.col-md-8.col-md-offset-2
				h1.display-4.md-4 #{poll}  
		.row.text-xs-center
			.col-md-8.col-md-offset-2
				canvas#results-chart(width='400' height='150' data-uId=uId data-pId=pId)
		.row.text-xs-center.link-container
			.col-md-8.col-md-offset-2
				h2.display-5 Link
				p.poll-link https://example.com/#{uId}/polls/#{pId}